<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="rio" patch:before="site[@name='website']"
				  virtualFolder="/rio"
				  physicalFolder="/"
				  rootPath="/sitecore/content"
				  startItem="/Rio Home Page"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>
